{% extends "base.html" %}
{% import "macros/lista.html" as list_item %}



{% block top %}


  <sectruivoion class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Primary title
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</sectruivoion>

{% endblock top %}

{% block colunas %}

<section class="section">
    <div class="container">
     <div class="columns">

   {{ list_item.list_item([1,2,3,4])}}

</div>
      </p>
    </div>
  </section>

{% endblock colunas %}